<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ganntproj1.Store" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <ganntproj1.Store>
      <setting name="outputDir" serializeAs="String">
        <value />
      </setting>
      <setting name="ipConfig" serializeAs="String">
        <value />
      </setting>
      <setting name="worksheetName" serializeAs="String">
        <value />
      </setting>
      <setting name="targetFile" serializeAs="String">
        <value />
      </setting>
      <setting name="globalDir" serializeAs="String">
        <value />
      </setting>
      <setting name="backupData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="suggestData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="autoSync" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="daysToFinish" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="userShifts" serializeAs="String">
        <value />
      </setting>
      <setting name="selShift" serializeAs="String">
        <value>TURNO1</value>
      </setting>
      <setting name="arrDept" serializeAs="String">
        <value />
      </setting>
      <setting name="selDept" serializeAs="String">
        <value />
      </setting>
      <setting name="selSector" serializeAs="String">
        <value />
      </setting>
      <setting name="fastStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="confHour" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="stiroHour" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sectorId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="downloadSource" serializeAs="String">
        <value />
      </setting>
      <setting name="updateCheckRuntime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tessHour" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sartHour" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="confHourW" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="stioHourW" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="tessHourW" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sartHourW" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="manualMembers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="manualDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="arrivoOrder" serializeAs="String">
        <value>False</value>
      </setting>
    </ganntproj1.Store>
  </userSettings>
  <connectionStrings>
    <!--<add name="Ganttproj" connectionString="metadata=res://*/ganttmodel.csdl|res://*/ganttmodel.ssdl|res://*/ganttmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QUANT\QUANTNEW;initial catalog=Ganttproj;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ONLYOU" connectionString="metadata=res://*/ganttmodel.csdl|res://*/ganttmodel.ssdl|res://*/ganttmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XXXXXXXX\XXXXXXXX;initial catalog=Ganttproj;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="Ganttproj" connectionString="data source=192.168.96.17;initial catalog=Ganttproj; User ID=sa; password=onlyouolimpias;"/>
    <add name="ONLYOU" connectionString="data source=192.168.96.37;initial catalog=ONLYOU; User ID=nicu; password=onlyouolimpias;"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
